.selector[data-selected="true"] {
  border: 1px solid blue;
}

.selector {
  cursor: pointer;
  transition: all 300ms ease;
  position: relative;
  border: 1px solid transparent;
}

.selector[data-selected="false"] {
  border: 1px solid transparent;
}

.selected {
  border-radius: 1px;
  position: absolute;
  background: blue;
  padding: 2px 4px;
  color: white;
  font-size: 9px;
  bottom: -20px;
  left: 50%;
  text-transform: uppercase; /* Add this line */
  transform: translateX(-50%); /* Add this line */
  z-index: 2;
}
