.slice {
  padding: 64px 128px;
  width: 100%;
  background: white;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  color: black;
}

.description {
  font-size: 14px;
  line-height: 1.7;
  max-width: 640px;
  margin: auto;
  color: black;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 64px;
}

.card {
  border: 1px solid black;
  padding: 16px;
}

.tags {
  display: flex;
}

.tag {
  background: teal;
  font-size: 11px;
  padding: 2px 4px;
}
